requests==2.22.0
certifi==2022.12.7
eventlet==0.31.0
Flask==1.1.1
Flask-SocketIO==4.2.1
nltk==3.6.6
numpy==1.22.0
progressbar2==3.39.2
pycrayon==0.5
slackclient==2.2.1
torch==1.0.1.post2
torchvision==0.2.2.post3
transforms3d==0.3.1
