<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cereal Bar</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on('connect', function() {
      socket.emit('message', {data: 'I\'m connected!'});
      });
    </script>
  </head>

  <body>
    <h1>Cereal!</h1>
  </body>
</html>
